.background-image {
  /* Specify the size and position of the element */
  position: fixed;
  left: 0;
  top: 1vh;
  width: 100%;
  height: 100vh;
  /* Set up the background image */
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  /* Start the animation at 1s */
  animation: blur 1.5s ease-in-out 0.5s forwards;
}

@keyframes blur {
  to {
    filter: blur(3px);
    transform: scale(1.05)
  }
}

.bar {
    position: relative;
    top: 25vh;
    left: 0%;
    width: 2%;
    animation: rise 1s ease-in-out forwards;
    border-radius: 10px; 
    transform-origin: bottom;
    opacity: 0;
}
  
@keyframes rise {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

.mission-statement::-webkit-scrollbar{
  display: none;
}